db.default {
  driver="com.mysql.jdbc.Driver"
  url="jdbc:mysql://localhost/st_cs"
  user = "st_cs"
  password = "st_cs"
}

scalikejdbc.global.loggingSQLAndTime.enabled=true
scalikejdbc.global.loggingSQLAndTime.singleLineMode=true

dbplugin=disabled
evolutionplugin=disabled
